.page-header {
    background: $off-white;
    margin-bottom: $l-size;
    padding: $l-size 0;
}

.page-header__actions {
    margin: $m-size;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
    span {
        font-weight: bold;
    }
}

.page-header__subtitle {
    font-style: italic;
    font-size: $font-size-medium;
    font-weight: 300;
    margin: 0;
    span {
        font-weight: bold;
    }
}
